<!doctype html>
<html lang="en" ng-app="avengersApp">
<head>
    <meta charset="UTF-8">
    <title>Marvel</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body ng-controller="MainCtrl">

<section class="module parallax parallax-1">
    <div class="container">
        <h1>Meet The Avengers</h1>
    </div>
</section>

<div class="group">
    <input type="text" required ng-model="searchText.name">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Name</label>
</div>

<div class="hero-wrapper">
    <div class="hero-card" ng-repeat="hero in heroes | filter:searchText">
        <h3 class="hero-name">{{hero.name}}</h3>
        <div class="hero-image">
            <img ng-src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}"/>
        </div>
        <h4 class="description">Description</h4>
        <p class="description-text">{{hero.description}}</p>
    </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/MainCtrl.js"></script>
    <script src="js/dataService.js"></script>
</body>
</html>